extends layout
block content
 .header
  .container
       center
         h2 From Concept to Creation
  .header
   section#home
  .content-section-b
       .container
         h1(style='text-align:center')
           | Welcome to Nordhouse 
           br
           | Pine Wood Log houses and Log Cabins supplier in Co. Dublin!
         hr
         .row
           .col-sm-12
             img.profile-photo(src='/cover.png', alt='LogCabin')
             h2.section-heading
               | Nordhouse &ndash; is the supplier of high quality log cabins and wooden houses in Ireland.
             p.lead
               | At Nordhouse the quality of our log cabins is unrivalled. Attention to details, quality materials, speed, first class workmanship are the features that best describe a typical Nordhouse log house.
               br
               br
               | All pine and spruce timber used in our production is sourced from sustainable forests from the Carelia and Finland.  It is very resistant, have high density and resin saturation. If the conditions, under which the trees gave grown, are more north extreme, the trees turn out to be more resistant and qualitative &ndash; perfect for a log home that will last many generations.
               br
               br
               | Wooden house is trustworthy and eco-friendly choice &ndash; wood is warm, breathable and very good humidity regulator and is therefore suitable for year round dwelling/work.
               br
               br
               | As our solid log buildings meet the criteria for sustainable development, we believe that they represent a credible, greener alternative to common construction methods. Carbon dioxide which is absorbed during the life of a tree is locked up in wood products. The log house kits can be built on pillar foundations. Therefore the use of concrete and cement is minimal compared to a bricks and mortar house. Apart from environmental issues, this also saves in construction costs, especially on a sloping site.
               br
               br
               | Our aim is to deliver individual, strong and durable homes that improve our customer&rsquo;s quality of life.

         